<!-- src/app/components/table/table.component.html -->
<div class="container mt-4">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.address }}</td>
        <td>
          <button class="btn btn-primary" (click)="openUserDialog(user)">Edit</button>


          <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-primary" (click)="generatePdf()">Generate PDF</button>
    <button class="btn btn-primary" (click)="downloadPdf()">Download PDF</button>

<button (click)="viewPdf('path/to/your/pdf')">View PDF</button>

  </div>
</div>
